NEXT_PUBLIC_API_URL="http://localhost:3000"

POSTGRES_URL=""
POSTGRES_PRISMA_URL=""

# BETTER_AUTH
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000" 

# Google
GOOGLE_CLIENT_ID= ""
GOOGLE_CLIENT_SECRET="GOCSPX-"

# GitHub
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
